[submodule "third_party/assistant_axis"]
	path = third_party/assistant_axis
	url = https://github.com/safety-research/assistant-axis
[submodule "third_party/persona_vectors"]
	path = third_party/persona_vectors
	url = https://github.com/safety-research/persona_vectors
